<?xml version="1.0"?>
<launch>

  <arg name="robot_nickname" value="yumi" doc="Nickname/identifier for the robot controller"/>
  <arg name="debug" default="false"/>


  <include file="$(find yumi_bringup)/launch/yumi_bringup.launch">
    <!-- <arg name="robot_nickname" value="$(arg robot_nickname)"/>     -->
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <remap from="joint_states" to="/$(arg robot_nickname)/rws/joint_states"/>

  <include file="$(find myyumi_moveit_config)/launch/demo_online.launch">
  </include>

</launch>  