<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" default="192.168.229.1" doc="The robot controller's IP address"/>

  <!-- Using an nickname/identifier for the robot controller is good practice -->
  <arg name="robot_nickname" default="yumi" doc="Nickname/identifier for the robot controller"/>

  <!-- Enable DEBUG output for all ABB nodes -->
  <arg name="debug" default="false"/>
  <env if="$(arg debug)" name="ROSCONSOLE_CONFIG_FILE" value="$(find abb_robot_bringup_examples)/config/rosconsole.conf"/>

  <!-- Launching the driver components in their own namespace is good practice -->
  <group ns="$(arg robot_nickname)">
    <!-- =========================================================================================================== -->
    <!-- Robot Web Services (RWS) related components.                                                                -->
    <!-- =========================================================================================================== -->

    <!-- RWS state publisher (i.e. general states about the robot controller) -->
    <include file="$(find abb_rws_state_publisher)/launch/rws_state_publisher.launch">
      <arg name="robot_ip" value="$(arg robot_ip)"/>
      <arg name="robot_nickname" value="$(arg robot_nickname)"/>
    </include>

    <!-- RWS service provider (i.a. starting/stopping the robot controller's RAPID execution) -->
    <include file="$(find abb_rws_service_provider)/launch/rws_service_provider.launch">
      <arg name="robot_ip" value="$(arg robot_ip)"/>
      <arg name="robot_nickname" value="$(arg robot_nickname)"/>
    </include>

    <node name="rws_bringup" pkg="yumi_bringup" type="rws_bringup" respawn="false" output="screen"/>

    <node name="followjoint_bringup" pkg="yumi_bringup" type="followjoint_bringup" respawn="false" output="screen"/>

  </group>

</launch>